<div class="container ct1">
  <div class="row">
      <div class="col-4">
          <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img class="hdr"  src="assets/Images/b4.jpg">
                </div>
                <div class="flip-card-back">
                  <h1>COLOMBO</h1> 
                  <p>28/7, HILL STREET, COLOMBO 01</p>
                </div>
              </div>
            </div>
      </div>

      <div class="col-4">
          <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img class="hdr"  src="assets/Images/b5.jpg">
                </div>
                <div class="flip-card-back">
                  <h1>NEGAMBO </h1> 
                  <p>2/45, 2nd LANE, NEGAMBO</p>
                </div>
              </div>
            </div>
      </div>

      <div class="col-4">
          <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img class="hdr"  src="assets/Images/b6.jpg">
                </div>
                <div class="flip-card-back">
                  <h1>JAELA</h1> 
                  <p>KURUNEGALA ROAD, JAELA</p>
                </div>
              </div>
            </div>
      </div>

      
  </div>
</div>