<div class="container ct1">
  <div class="row">
      <div class="col-4">
          <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img class="hdr"  src="assets/Images/c4.jpg">
                </div>
                <div class="flip-card-back">
                  <h1>JEZZA CLOTHING SHOP</h1> 
                  <p>28/7, HILL STREET, COLOMBO 01</p>
                </div>
              </div>
            </div>
      </div>

      <div class="col-4">
          <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img class="hdr"  src="assets/Images/c5.jpg">
                </div>
                <div class="flip-card-back">
                  <h1>JO LOVES SHOP 25TH ANNIVERSERY </h1> 
                  <p>2/45, 2nd LANE, COLOMBO 07</p>
                </div>
              </div>
            </div>
      </div>

      <div class="col-4">
          <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img class="hdr"  src="assets/Images/c6.jpg">
                </div>
                <div class="flip-card-back">
                  <h1>HENRY & ELZA</h1> 
                  <p>HILTON BLOOM ISLAND RESORT</p>
                </div>
              </div>
            </div>
      </div>

      
  </div>
</div>