<div class="container-fluid ct1">
    <div class="row rw1">
        <h1>INDOOR PLANTS </h1>
        
    </div>
    <div class="row">
        <div class="col-4 cl1"><img class="hdr"  src="assets/Images/i1.jpg"></div>
        <div class="col-4">
            <div class="row">
                <div class="col-6"><img class="hdr1"  src="assets/Images/i4.jpg"></div>
                <div class="col-6"><img class="hdr1"  src="assets/Images/i5.jpg"></div>
            </div>
            <div class="row"><img class="hdr2"  src="assets/Images/i6.jpg"></div>
        </div>
        <div class="col-4"><img class="hdr"  src="assets/Images/i2.jpg"></div>
    </div>
</div>