<div class="container-fluid ct1">
    <div class="row rw1">
        <h1> CEREMONY </h1>
        <p> Arches, Installations & Aisle Markers </p>
    </div>
    <div class="row">
        <div class="col-4 cl1"><img class="hdr"  src="assets/Images/deco4.jpg"></div>
        <div class="col-4">
            <div class="row">
                <div class="col-6"><img class="hdr1"  src="assets/Images/deco8.jpg"></div>
                <div class="col-6"><img class="hdr1"  src="assets/Images/c66.jpg"></div>
            </div>
            <div class="row"><img class="hdr2"  src="assets/Images/c77.jpg"></div>
        </div>
        <div class="col-4"><img class="hdr"  src="assets/Images/deco1.jpg"></div>
    </div>
</div>