<div class="container-fluid">
    <div class="raw">
        <img alt="logo" class="hdr" width="320px" height="90px"  src="assets/Images/logo.png">
    </div>
    <div class="raw rw1">
        <ul>
            <li><a class="active" href="#home" >HOME</a></li>
            <li><a href="#news" [routerLink]="['/about1']">ABOUT</a></li>
            <li><a href="#contact " [routerLink]="['/portfolio']">PORTFOLIO</a></li>
            <li><a href="#about" [routerLink]="['/shop']">SHOP</a></li>
            <li><a href="#about" [routerLink]="['/login']">PROFILE</a></li>
            <li><a href="#about" [routerLink]="['/cart']"><i class="bi bi-bag"></i></a></li>
            <!-- <li><a href="#about" [routerLink]="['/admin']">ADMIN</a></li> -->
          </ul>
    </div>
</div>
