<div class="container-fluid">
    <div class="row rwmain">
        <div class="col-4 claddress">
            <h5> WE ARE IN</h5>
            <p> 279 Nawala Rd, <br>
                Sri Jayawardenepura Kotte <br>
                 00500
            </p>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-6"><img class="hdr1"  src="assets/Images/Bloomsss.png"></div>
            </div>
            <div class="row rw1">
               <p class="rw1"> © Blooms 2023 </p> 
            </div>
        </div>
        <div class="col-4 clcontact">
            <h5> CONTACT US</h5>
            <p>  <i class="bi bi-telephone"></i>  011-2234567 <br>
                <i class="bi bi-whatsapp"></i> Blooms<br>
                <i class="bi bi-envelope"></i> blooms@gmail.com
            </p>
        </div>
    </div>
</div>
