<div class="container-fluid ct1">
    <div class="row rw1">
        <h1> THE FLOWER TOWER</h1>
        <p> We don’t just plant flowers – we plant emotions. </p>
    </div>
    <div class="row">
        <div class="col-4 cl1"><img class="hdr"  src="assets/Images/pl2.jpg"></div>
        <div class="col-4">
            <div class="row">
                <div class="col-6"><img class="hdr1"  src="assets/Images/plnt3.jpg"></div>
                <div class="col-6"><img class="hdr1"  src="assets/Images/plnt5.jpg"></div>
            </div>
            <div class="row"><img class="hdr2"  src="assets/Images/plnt9.jpg"></div>
        </div>
        <div class="col-4"><img class="hdr"  src="assets/Images/pl7.jpg"></div>
    </div>
</div>
