<div class="container-fluid ct1">
    <div class="row rw1">
        <h1> PERSONAL FLORALS</h1>
        <p> Wedding Bouquets, Boutonnieres, Corsages & More </p>
    </div>
    <div class="row">
        <div class="col-4 cl1"><img class="hdr"  src="assets/Images/f13.jpg"></div>
        <div class="col-4">
            <div class="row">
                <div class="col-6"><img class="hdr1"  src="assets/Images/f10.jpg"></div>
                <div class="col-6"><img class="hdr1"  src="assets/Images/f11.jpg"></div>
            </div>
            <div class="row"><img class="hdr2"  src="assets/Images/f9.jpg"></div>
        </div>
        <div class="col-4"><img class="hdr"  src="assets/Images/f12.jpg"></div>
    </div>
</div>
