<app-header></app-header>
<div class="container ct1">
    <div class="row">
        <h3> HISTORY OF GARDENIAS </h3>
        <p> What started off as a small town plant design and service, has evolved into a growing business incorporating luxury weddings and corporate events. Our mission has been to be the go-to source for all your floral-related needs in the greater Hilton Head and Savannah area. Since 1998, Gardenias has been at the forefront of the florist and plant industry — exceeding client expectations with our wide range of services. We pride ourselves on our commitment to quality service and strive to give you and your loved ones a truly beautiful experience.</p>
    </div>

    <div class="row rw2">
        <h3 class="team"> THE TEAM </h3>
        <div class="col-3 cl1"></div>
        <div class="col-3 cl2"><div class="col-6"><img class="hdr1"  src="assets/Images/fl.jpg"></div></div>
        <div class="col-3 cl3">
            <h4> STYLIST SAYING</h4>
            <p class="pteam"> Having a quick eye for balance, color, and harmony are essential for any florist looking to delight customers with stunning arrangements, so creativity is crucial. Being able to convey emotion and tone through cut flowers is a real skill, and a great florist brings a genuine love of the art to the table. Not only is a genuine love of flowers helpful in attracting attention for your beautiful designs, it also keeps you in the business for a long time without burning out. Love of the creative aspect of floristry transforms a job into a passion. </p>
        </div>
        <div class="col-3 cl4"></div>
    </div>

    <div class="row">
        <h5> If You want To Contact Our Team Please Drop Us a Message</h5>
        <div class="col-4"></div>
        <div class="col-4 clchat">
            
            <app-chat></app-chat>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<app-footer></app-footer>