<app-header></app-header>
<section class="h-100 h-custom">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="d-flex flex-column">
        <div *ngIf="cart.items.length !== 0; else elseBlock">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th scope="col" class="h5">Shopping Bag</th>
                <th scope="col">Item Description</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price of a Unit</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of cart.items; index as i">
                <th scope="row">
                  <div class="d-flex align-items-center">
                    <img [src]="item.image" class="img-fluid rounded-3"
                         style="width: 120px;" alt="Book">
                    <div class="flex-column ms-4">
                      <p class="mb-2">{{item.name}}</p>
                    </div>
                  </div>
                </th>
                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 500;">{{item.description}}</p>
                </td>
                <td class="align-middle">
                  <div class="d-flex flex-row">
                    <button class="btn btn-link px-2" (click)="onStepDownHandler(item.Quantity - 1, item._id)">
                      <i class="bi bi-bag-x"></i>
                    </button>

                    <input id="form1" min="0" name="quantity" [value]="item.Quantity" type="number"
                           class="form-control form-control-sm" style="width: 50px;"/>

                    <button class="btn btn-link px-2" (click)="onStepUpHandler(item.Quantity + 1, item._id)">
                      <i class="bi bi-bag-plus"></i>
                    </button>
                  </div>
                </td>
                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 500;">Rs{{item.price}}</p>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <ng-template #elseBlock>
          <h1 class="align-self-center">Cart is Empty!</h1>
        </ng-template>

        <div class="card shadow-2-strong mb-5 p-4 mb-lg-0 w-25 align-self-end" style="border-radius: 16px;">
          <div class="col-lg-4 col-xl-3 w-100">
            <div class="d-flex flex-row justify-content-between" style="font-weight: 500;">
              <p class="mb-2">Subtotal</p>
              <p class="mb-2">Rs {{cart.totalPrice}}</p>
            </div>

            <hr class="my-4">


            <button type="button" class="btn btn-primary btn-block btn-lg" [routerLink]="['/thanks']">
              <span>Checkout</span>
            </button>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
