<app-header></app-header>
<div class="container ct1">
    <div class="row">
        <h1> OUR BRANCHES </h1>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img class="hdr"  src="assets/Images/b1.webp">
                  </div>
                  <div class="flip-card-back">
                    <h1>ANURADHAPURA</h1> 
                    <p>NO 09, 2ND LANE, ANURADHAPURA</p>
                  </div>
                </div>
              </div>
        </div>

        <div class="col-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img class="hdr"  src="assets/Images/b7.jpg">
                  </div>
                  <div class="flip-card-back">
                    <h1>NUGEGODA</h1> 
                    <p>GANGODAWILA, NUGEGODA</p>
                  </div>
                </div>
              </div>
        </div>

        <div class="col-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img class="hdr"  src="assets/Images/b2.jpg">
                  </div>
                  <div class="flip-card-back">
                    <h1>PERADENIYA</h1> 
                    <p>DIYALUMA ROAD, PERADENIYA</p>
                  </div>
                </div>
              </div>
        </div>


    </div>
</div>

<app-portfolio1></app-portfolio1>
<app-footer></app-footer>