<app-header></app-header>
<div class="container ct1">
    <div class="row">
        <h1> OUR CLIENTS </h1>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img class="hdr"  src="assets/Images/c1.jpg">
                  </div>
                  <div class="flip-card-back">
                    <h1>BRAYAN & MARY</h1> 
                    <p>HILTON HEAD ISLAND RESORT</p>
                  </div>
                </div>
              </div>
        </div>

        <div class="col-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img class="hdr"  src="assets/Images/c3.jpg">
                  </div>
                  <div class="flip-card-back">
                    <h1>NEW COSMETIC PRODUCT LAUNCH</h1> 
                    <p>HILTON RESORT</p>
                  </div>
                </div>
              </div>
        </div>

        <div class="col-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img class="hdr"  src="assets/Images/c2.jpg">
                  </div>
                  <div class="flip-card-back">
                    <h1>ELLIE'S 21st BIRTHDAY</h1> 
                    <p>THE WEGAS MOTEL RESORT</p>
                  </div>
                </div>
              </div>
        </div>


    </div>
</div>

<app-portfolio1></app-portfolio1>
<app-footer></app-footer>