<app-header></app-header>
<div class="container ct1">
    <div class="row">
        <div class="col-6">
            <img class="hdr"  src="assets/Images/11.jpg">
        </div>
        <div class="col-6 cl2">
            <h4> SUMMER LOVING ROSE DECORATION</h4>
            <p class="p1">Gift someone special this vibrant arrangement of fresh flowers that comes in this gorgeous floral printed box.
                Shirohana has the right to substitute any flower shown in the product depending on availability.
            </p>
            <h6> Rs. 2000</h6>
            <div class="row">
        <div class="col-6">
            
                <div class="quantity"> 
                    <input type="number" class="quantity__input" value="1" min="1" max="10">
                  </div> 
            
        </div>
        <div class="col-6">
            <button type="button" class="btn1">ADD TO CART</button>
        </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
