.hdr{
    width: 100%;
    height: 50vh;
}
.btn{
    margin-top: -12vh;
    margin-left: 32%;
    width: 40%;
    font-size: 1rem;
}
.rw2{
    padding-top: 20vh;
    padding-bottom: 40vh;
}
.ct1{
    padding-top: 15vh;
}